@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(22, 88, 115, 45);
}
header {
    background-color: black;
    min-height: 250px ;
}
header img {
   width: 100%;
   max-width: 250px;
   margin: auto;
   display: block;
}
nav {
    background-color: black;
    min-height: 50px;
    padding-top: 20px;
}
nav a {
    color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav > a {
    color: gray;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: black;
    color:white;
}

main {
    background-image: linear-gradient(to bottom, rgba(7, 176, 242, 95), rgb(137, 212, 255) );
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 800px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.397);
}
main h1 {
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
}
main h2 {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: normal;
     font-size: 1em;
     text-align: center;
}
main p {
    color: black;
    margin: 15px 0px 15px 0px;
    text-align: center;
    text-indent: 30px;
    font-size: 1.4em;
    line-height: 2em;
}

aside {
    background-color: rgb(207, 202, 202);
    border-radius: 10px;
    box-shadow: 1px 1px  rgba(2, 2, 2, 0.336);
  
}
aside > img {
    max-width: 400px;
    display: block;
    margin: auto;
}
aside > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: center;
}
aside > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1em ;
    text-align: center;
    padding-top: 0px;
    font-weight: normal;
}

footer {
    background-color: black;
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    padding: 5px;
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.5s;
}
footer a:hover {
    text-decoration: underline;
    color: rgba(22, 88, 115, 45
    );
}
